problem {
    metamodel = "../ihtc.mm"
    model = "./nurses_phase_optional_admission_regression.m"
}

goal {
    import {
        admittedPatientsAmount,
        nurseAssignmentPhaseConsistency,
        NurseWorkloadDistributionInbalance,
        totalWorkloadViolation,
        uncoveredRoomShiftViolation,
        uncoveredWorkloadViolation,
        inactiveRoomShiftAssignmentViolation
    } from "../objectives.fn"

    minimize NurseWorkloadDistributionInbalance
    minimize totalWorkloadViolation
    minimize uncoveredRoomShiftViolation
    minimize uncoveredWorkloadViolation
    minimize inactiveRoomShiftAssignmentViolation
    maximize admittedPatientsAmount

    constraint nurseAssignmentPhaseConsistency
}

search {
    mutations {
        using "../transformations/t1.mt"
        using "../transformations/t2.mt"
        using "../transformations/t3.mt"
        using "../transformations/t14.mt"
        using "../transformations/t15.mt"
        using "../transformations/t16.mt"
    }
}

solver {
    algorithm = NSGAII

    parameters {
        population = 20
        variation = mutation

        mutation {
            step = 1
            strategy = random
        }
    }

    termination {
        evolutions = 30
    }

    batches = 1
}
