problem{
    metamodel = "./ihtc.mm"
    model = "./models/wholeTest1.m"
}

goal {
    import {
        admittedPatientsAmount,
        roomCapacityViolation,
        removedPatients,
        theatreCapacityViolation,
        surgeonCapacityViolation,
        totalSkillLevelViolation,
        NurseWorkloadDistributionInbalance,
        totalWorkloadViolation,
        RoomShiftCoverage,
        roomOccupancyStandardDeviation
    } from "objectives.fn"

    minimize roomCapacityViolation
    minimize removedPatients
    minimize theatreCapacityViolation
    minimize surgeonCapacityViolation
    minimize totalSkillLevelViolation
    minimize NurseWorkloadDistributionInbalance
    minimize totalWorkloadViolation
    minimize roomOccupancyStandardDeviation

    maximize admittedPatientsAmount
    maximize RoomShiftCoverage
}

search {
    mutations {
        using "./transformations/t1.mt"
        using "./transformations/t2.mt"
        using "./transformations/t3.mt"
        using "./transformations/t4.mt"
        using "./transformations/t7.mt"
        using "./transformations/t5.mt"
        using "./transformations/t6.mt"
        using "./transformations/t8.mt"
        using "./transformations/t9.mt"
        using "./transformations/t10.mt"
        using "./transformations/t11.mt"
        using "./transformations/t12.mt"
        using "./transformations/t13.mt"
        using "./transformations/t14.mt"
        using "./transformations/t15.mt"
        using "./transformations/t16.mt"
        
    }
}

solver {
    algorithm = NSGAII

    parameters {
        population = 100
        variation = mutation

        mutation {
            step = 1
            strategy = random
        }
    }

    termination {
        evolutions = 500
    }

    batches = 3
}