problem{
    metamodel = "./ihtc.mm"
    model = "./models/test_admission_removal.m"
}

goal {
    import { admittedPatiensAmount, roomCapacityViolation, removedPatients, theatreCapacityViolation, surgeonCapacityViolation} from "objectives.fn"
    minimize roomCapacityViolation
    minimize removedPatients
    minimize theatreCapacityViolation
    minimize surgeonCapacityViolation
    maximize admittedPatiensAmount
}

search {
    mutations {
        using "./transformations/t1.mt"
        using "./transformations/t4.mt"
        using "./transformations/t7.mt"
        using "./transformations/t5.mt"
        using "./transformations/t6.mt"
    }
}

solver {
    algorithm = NSGAII

    parameters {
        population = 100
        variation = mutation

        mutation {
            step = 1
            strategy = random
        }
    }

    termination {
        evolutions = 500
    }

    batches = 5
}